body {
    background-color: #3399A9;
}

#logo {
    width: 300px;
    height: 130px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 5px solid yellow;
}

#Titulo {
    color: white;
    text-shadow: #004D80 5px 5px;
    font-size: 48px;
}

#Inicio {
    color: white;
    text-shadow: #004D80 3px 3px;
    text-align: center;
    font-family: 'Square Peg', cursive;
}

#Texto1 {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
}


html{
    scroll-behavior: smooth;
}
button {
    --glow-color: rgb(249, 246, 252);
    --glow-spread-color: rgba(123, 255, 255, 0.781);
    --enhanced-glow-color: rgb(54, 67, 253);
    --btn-color: rgb(11, 108, 219);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}