body {
    background-color: #3399A9;
}

#logo {
    width: 300px;
    height: 130px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 5px solid yellow;
    background-origin: border-box;
}

#Titulo {
    color: white;
    text-shadow: #004D80 5px 5px;
    font-size: 48px;
}

/* Corpo da Pagina */

#Welcome {
    color: white;
    text-shadow: #004D80 3px 3px;
    text-align: center;
    font-family: 'Square Peg', cursive;
}

#Texto1{
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.Texto_da_Fase1{
    text-align: center;
}
#IMGTelefone{
    width: 500px;
    height: 300px;
}
.Pergunta{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}