body {
    background-color: #3399A9;
}

#logo {
    width: 300px;
    height: 130px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 5px solid yellow;
}

#Titulo {
    color: white;
    text-shadow: #004D80 5px 5px;
    font-size: 48px;
}

/* Css sobre o Corpo da Pagina */
#Choice {
    color: white;
    text-shadow: #004D80 3px 3px;
    text-align: center;
}

.Personagens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.corpo_da_pag{
    display: flex;
    flex-direction: column;
    justify-content: center;
}